---
import { baseUrl } from "../../conf";
import Footer from "../components/footer.astro";
import Nav from "../components/Nav.astro";
import Seo from "../components/seo/Seo.astro";

export interface Props {
  title: string;
  imageUrl?: string;
  robots?: boolean;
  description?: string;
  keywords?: string;
  url?: string;
}

const {
  title,
  description,
  imageUrl,
  robots,
  url: seoUrl,
  keywords,
} = Astro.props;

let url = `${baseUrl}/api/articles/tags`;

const data = await fetch(url)
  .then((res) => res)
  .then((res) => res.json());

const tag = Astro.url.searchParams.get("tag") || false;

const { tags } = data;
---

<!DOCTYPE html>
<html lang="en" data-theme="night">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" href="/favicon-32x32.png" />
    <meta name="generator" content={Astro.generator} />
    <Seo
      description={description}
      title={title}
      imageUrl={imageUrl}
      robots={robots}
      url={seoUrl}
      keywords={keywords}
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <Seo />
  </head>
  <body>
    <div class="drawer drawer-end">
      <input id="my-drawer-4" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <Nav logo="" />
        <main class="my-container">
          <slot />
        </main>
        <Footer />
      </div>
      <div class="drawer-side">
        <label for="my-drawer-4" class="drawer-overlay"></label>
        <ul class="menu p-4 w-[80%] sm:w-80 bg-base-100 text-base-content">
          <!-- Sidebar content here -->
          {
            tags
              ? tags.map((item) => (
                  <li>
                    <a
                      href={`/?tag=${item.name}`}
                      class:list={[tag === item.name ? "active" : "", "mb-1"]}
                    >
                      {item.name}
                    </a>
                  </li>
                ))
              : ""
          }
        </ul>
      </div>
    </div>
    <style is:global>
      .my-container {
        @apply container mx-auto px-4 max-w-[50em];
      }

      .my-card + .my-card {
        margin-top: 3rem;
      }

      main {
        min-height: 80vh;
      }

      .highlight {
        background-color: yellow;
        color: black;
      }

      p {
        font-size: 16px; /* sets the font size */
        line-height: 1.5; /* sets the line height to 1.5 times the font size */
        letter-spacing: 2px;
        margin-bottom: 1em; /* adds some space below each paragraph */
      }

      .details-page li {
        margin-bottom: 1em;
        font-size: 1.2rem;
      }

      .details-page li:before {
        content: "\25CF";
        color: #3498db;
        display: inline-block;
        width: 1em;
        margin-left: 0em;
      }

      /* @media (min-width: 320px) {
  }

  @media screen and(min-width: 640px) {
  }

  @media screen and(min-width: 768px) {
  }

  @media screen and(min-width: 991px) {
  } */
    </style>
  </body>
</html>
